{
  "compact": false,
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    "syntax-object-rest-spread"
  ]
}
